<form #newPersonForm="ngForm" (ngSubmit)="onSubmit(newPersonForm.value)">
  <div>
    First Name: <input type="text" name="fName" ngModel>
  </div>
  <div>
      Last Name: <input type="text" name="lName" ngModel>
  </div>
  <div>
      Email: <input type="email" name="email" ngModel>
  </div>
  <div>
      gender <br />
      Male <input type="radio" value="male" name="gender" ngModel>
      Female <input type="radio" value="female" name="gender" ngModel>
  </div>
  <div>
      <button type="submit">Add</button>
  </div>
</form>
<hr>
<app-ng-table [data]="data"></app-ng-table>
<button type='submit' (click)='addItem()'>Add Last</button>
<pre> {{this | json}} </pre>